$header-height: 7.1rem;

// MIXINs
@mixin headerAnimation($duration: 0.3s, $ease: ease-in) {
  animation: animateHeader $duration $ease;
}

// ANIMATIONS
@keyframes animateHeader {
  from {
    top: -$header-height;
  }

  to {
    top: 0;
  }
}

.s_header {
  display: flex;
  background-color: var(--color-body);
  // background-color: red;
  border-bottom: 1px solid var(--color-border);
  width: 100%;
  position: fixed;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
  top: 0;
  left: 0;
  opacity: 1;

  // responsive
  height: $header-height;
  padding-right: 1.5rem;
  padding-left: 1.5rem;

  //animation
  @include headerAnimation(0.5s, ease-in);

  &_block {
    // background-color: blue;
    height: inherit;

    &_centered {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      height: inherit;
    }
  }

  &_centered {
    margin-left: auto;
    margin-right: auto;
  }

  &_logo {
    display: flex;
    // background-color: blue;
    position: absolute;
    height: inherit;
    // responsive
    width: 10rem;
    margin-left: 1rem;

    a {
      display: block;
      margin: 0;
      padding: 0;
      outline: 0;
      border: none;
    }
  }

  &_social {
    // display: flex;
    height: inherit;

    // background-color: aqua;
    ul {
      display: flex;
      height: inherit;
      // background-color: grey;
    }

    li {
      display: flex;
      height: inherit;
      // background-color: rgb(115, 186, 54);
      // ensures children are centered vertically and horizontally
      align-items: center;
      justify-content: center;
    }

    a {
      display: flex;
      // background-color: rgb(221, 43, 43);
      align-items: center;
      justify-content: center;
      // responsive
      // width: 4rem;
      height: inherit;
    }
  }
}

.s_header__nav {
  // padding: 0 0 var(--vspace-1_5);
  display: flex;
  flex-direction: column;
  height: inherit;

  a {

    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    font-weight: 400;
    // line-height: calc(7.2rem - 1px);
    text-transform: uppercase;
    letter-spacing: 0.4em;
    color: rgba(255, 255, 255, 0.6);
    padding: 0 2.8rem;

    transition-property: color,
      background-color;

    // Pseudo-classes for links
    &:focus,
    &:hover {
      color: var(--color-white);
    }
  }

  .current {
    a {
      background-color: var(--color-gray-9);
      color: var(--color-1);
    }
  }

  ul {
    // background-color: red;
    list-style: none;
    display: flex;
    // flex-flow: row nowrap;
    margin: 0;
    height: 100%;

    padding: 0;
    border-left: 1px solid var(--color-border);

    li {
      display: flex;
      // background-color: aqua;
      // height: 100%;
      border-right: 1px solid var(--color-border);
    }
  }
}

@media (max-width: 57rem) {
  .s_header__nav {
    display: none;
  }
}

@media (max-width: 30rem) {
  .s_header {
    height: 6rem;
    padding-right: 0.5rem;
    padding-left: 0.5rem;

    &_logo {
      // z-index: 3;
      width: 22vw;
      margin-left: 3vw;
    }

    &_social {
      a {
        // width: 3.2rem;
        // height: inherit;
      }
    }
  }
}