.header {
  display: flex;
  background-color: var(--color-body);
  /* background-color: red; */
  border-bottom: 1px solid var(--color-border);
  width: 100%;
  position: fixed;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
  top: 0;
  left: 0;
  opacity: 1;

  /* responsive */
  height: 7.1rem;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
}

.header_block {
  height: inherit;
  display: flex;
}

.header_logo {
  /* background-color: blue; */
  position: absolute;
  height: inherit;

  /* responsive */
  width: 10rem;
  margin-left: 1rem;
}

.header_logo a {
  display: block;
  margin: 0;
  padding: 0;
  outline: 0;
  border: none;
}

.header_social {
  /* display: flex; */
  height: inherit;
  /* background-color: aqua; */
}

.header_social ul {
  display: flex;
  height: inherit;
  /* background-color: grey; */
  height: inherit;
}

.header_social li {
  display: flex;
  /* height: inherit; */
  height: inherit;

  /* background-color: rgb(115, 186, 54); */

  /* ensures children er centered vertically and horisontally */
  align-items: center;
  justify-content: center;
}

.header_social a {
  display: flex;
  /* background-color: rgb(221, 43, 43); */
  align-items: center;
  justify-content: center;
  /* responsive */
  /* width: 4rem; */
  height: inherit;
}

@media (max-width: 30rem) {
  .header {
    height: 6rem;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
  }
  .header_logo {
    /* z-index: 3; */
    width: 22vw;
    margin-left: 3vw;
  }

  .header_social a {
    /* width: 3.2rem; */
    /* height: inherit; */
  }
}
