/* ===================================================================
 * # INTRO
 *
 *
 * ------------------------------------------------------------------- */
.s_intro {
  --text-huge: 6.6rem;
  --text-huge-line-height: 1.158;
  --text-huge-multiplier: 1;
  padding-top: 20vh;
  /* padding-bottom: 10vh; */
}

/* --------------------------------------------------------------------
 * ## intro content
 * -------------------------------------------------------------------- */

@keyframes animateIntroText {
  from {
    top: 50px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

@keyframes animateTopBlock {
  from {
    max-height: 0%;
    opacity: 0;
    height: 0%;
    display: none;
  }
  to {
    display: block;
    max-height: 100%;
    opacity: 1;
    height: 100%;
  }
}

.s_intro__top_block {
  width: 100%;
  padding: 0 12%;
  position: relative;
  top: 0;
  /* background-color: red; */
  /* animation: 4s slidein; */
  /* animation-fill-mode: forwards; */
  /* animation: animateTopBlock 2s ease; */
}

.s_intro_background {
  /* background-image: url(../../styles/intro-bg6.jpg); */
  background-repeat: no-repeat;
  background-size: 100%;
  width: 100%;
  /* height: 1468px;  Fixes problems with overlay on contact page */
  position: absolute;
  top: 1rem;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0.3;
}

.s_intro__bg {
  /* background: red; */
  /* background-image: url(../images/intro-bg4.jpg); */
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  position: absolute;
  top: calc(
    1.5 * var(--text-huge-line-height) * var(--text-huge) *
      var(--text-huge-multiplier)
  );
  right: 0;
  bottom: 0;
  left: 0;
}

.s_intro__bg::before {
  content: "";
  display: block;
  background-color: black;
  opacity: 0.3;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

.s_intro__text {
  font-family: var(--font-3);
  font-weight: 500;
  font-size: var(--text-huge);
  line-height: var(--text-huge-line-height);
  letter-spacing: normal;
  text-align: center;

  padding-bottom: 30vh;
  /* padding-bottom: calc(10 * var(--space)); */
  position: relative;
  margin-top: 100px;

  /* animation: animateIntroText 1s ease; */
  /* animation-delay: 1s; */
}

.s_intro__text span {
  color: var(--color-1);
}

/* --------------------------------------------------------------------
 * ## intro scroll down
 * -------------------------------------------------------------------- */
.s_intro__scroll_down {
  display: flex;
  align-items: center;
  font-family: var(--font-2);
  font-size: 10px;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.6em;
  color: white;
  line-height: 1.6rem;
  padding: 5.8rem 0;
  transform: translateY(0) rotate(90deg);
  transform-origin: right bottom;
  position: absolute;
  top: 25rem;
  bottom: 0;
  right: -4rem;
  z-index: 2;
}

.s_intro__scroll_down svg {
  height: 1.4rem;
  width: 1.4rem;
  margin-left: 1.6rem;
}

.s_intro__scroll_down svg path {
  fill: white;
}

.s_intro__scroll_down:focus,
.s_intro__scroll_down:hover {
  color: var(--color-1);
}

/* --------------------------------------------------------------------
 * ## intro about
 * -------------------------------------------------------------------- */
.s_intro__about {
  z-index: 1;
  flex: none;
  /* width: 100%; */
  max-width: 880px;
  background-color: rgba(10, 11, 11, 0.75);
  font-size: calc(var(--text-size) * 1.1111);
  line-height: var(--vspace-1_25);
  color: var(--color-text-light);
  margin-top: calc(var(--vspace-3) * -1);
  margin-bottom: var(--vspace-3_5);
  padding: var(--vspace-2_5) var(--vspace-3) var(--vspace-2);
  position: relative;
}

.s_intro__about::before {
  content: "";
  display: block;
  width: 1px;
  height: var(--vspace-2);
  background-color: var(--color-1);
  transform: translateX(-50%);
  position: absolute;
  top: calc(var(--vspace-1) * -1);
  left: 50%;
}

.s_intro__about .s_intro__about_title {
  color: white;
  text-align: center;
  font-size: 2rem;
  line-height: var(--vspace-1);
  margin-top: 0;
  margin-bottom: var(--vspace-2);
  /* padding: 6rem; */
}

.intro__about_description {
  color: white;
  font-size: 1.8rem;
  font-weight: 600;
  font-family: var(--font-3);
}
/* --------------------------------------------------------------------
 * ## intro stats
 * -------------------------------------------------------------------- */
.stats__item h5 {
  margin-top: var(--vspace-0_75);
}

.stats__count {
  font-family: var(--font-1);
  font-weight: 500;
  font-size: calc(var(--text-size) * 5.1111);
  line-height: 1;
  color: var(--color-1);
}

/* ------------------------------------------------------------------- 
 * responsive:
 * intro
 * ------------------------------------------------------------------- */
@media screen and (max-width: 1400px) {
  .s_intro {
    --text-huge-multiplier: 0.95;
  }

  .s_intro {
    /* padding-top: 20vw; */
    /* padding-top: calc(var(--header-height) + var(--vspace-3)); */
  }

  .s_intro__scroll_down {
    bottom: -22rem;
    right: 6rem;
  }

  .s_intro__text {
    padding-bottom: 25vw;
    /* padding-bottom: calc(8 * var(--space)); */
  }
}

@media screen and (max-width: 1300px) {
  .s_intro {
    --text-huge-multiplier: 0.9;
  }

  .s_intro {
    /* padding-top: 18vw; */
    /* padding-top: calc(var(--header-height) + var(--vspace-3)); */
  }

  .s_intro__about {
    font-size: calc(var(--text-size) * 1.056);
    line-height: calc(1.125 * var(--space));
  }

  .stats__count {
    font-size: calc(var(--text-size) * 4.8889);
  }
}

@media screen and (max-width: 1200px) {
  .s_intro {
    --text-huge-multiplier: 0.85;
    /* padding-top: calc(var(--header-height) + var(--vspace-4)); */
  }

  .s_intro__text br {
    display: none;
  }

  .about-stats {
    max-width: 920px;
  }

  .s_intro__text {
    padding-bottom: 20vw;
  }
}

@media screen and (max-width: 1100px) {
  .s_intro {
    --text-huge-multiplier: 0.6;
  }
  .s_intro__text {
    padding-bottom: 20vw;
    /* padding-bottom: calc(8 * var(--space)); */
  }
}

@media screen and (max-width: 1000px) {
  .s_intro {
    --text-huge-multiplier: 0.5;
  }

  .s_intro__top_block {
    padding: 0 8vw;
  }

  .s_intro__about {
    font-size: var(--text-size);
    padding: var(--vspace-2) var(--vspace-1_75) var(--vspace-1);
  }

  .s_intro__about .s_intro__about_title {
    font-size: var(--text-md);
    line-height: var(--vspace-0_875);
    margin-bottom: var(--vspace-1_5);
  }
}

@media screen and (max-width: 900px) {
  .s_intro {
    padding-top: 10vw;
    --text-huge-multiplier: 0.6;
  }
  .s_intro {
    /* padding-top: 10vw; */
    /* padding-top: calc(var(--header-height) + var(--vspace-3)); */
  }

  .s_intro__text {
    /* padding-bottom: 28vw; */
    /* padding-bottom: calc(8 * var(--space)); */
  }

  .s_intro__text {
    font-size: 7vw;
  }

  .s_intro__scroll_down {
    display: none;
  }

  .s_intro__top_block {
    padding: 0 1vw;
  }

  .s_intro__about {
    width: 82%;
  }
}

@media screen and (max-width: 800px) {
  .s_intro__text {
    padding-bottom: 25vw;
    /* padding-bottom: calc(8 * var(--space)); */
  }
  .stats__count {
    font-size: calc(var(--text-size) * 4.4444);
  }
  .s_intro_background {
    top: 0rem;
  }
}

@media screen and (max-width: 700px) {
  .s_intro {
    padding-top: 10vw;
    --text-huge-multiplier: 0.6;
  }

  .s_intro__about {
    width: 85%;
    font-size: calc(var(--text-size) * 0.9444);
    line-height: var(--vspace-1);
    padding: var(--vspace-2) var(--vspace-1_5) var(--vspace-1);
  }
}

@media screen and (max-width: 600px) {
  .s_intro {
    --text-huge-multiplier: 0.5;
  }

  .s_intro__top_block {
    padding: 0 5vw;
  }

  .s_intro .s_intro__text {
    padding-bottom: 6vw;
    /* padding-bottom: calc(2 * var(--space)); */
  }

  .s_intro_background {
    top: 0rem;
    /* height: 300px; */
  }

  .s_intro__text {
    margin-top: calc(2 * var(--space));
    /* font-size: 7vw; */
  }

  .s_intro__about {
    width: calc(100% - var(--gutter) * 2);
    margin-top: 0;
    padding: var(--vspace-2) var(--vspace-1_25) var(--vspace-1);
  }

  .s_intro__about::before {
    height: var(--vspace-1_5);
    top: calc(var(--vspace-0_75) * -1);
  }

  .stats__item {
    margin-bottom: var(--vspace-0_25);
  }

  .stats__item h5 {
    margin-top: var(--vspace-0_5);
  }

  .stats__count {
    font-size: calc(var(--text-size) * 4);
  }
}

@media screen and (max-width: 500px) {
  .s_intro {
    --text-huge-multiplier: 0.425;
    /* padding-top: calc(var(--header-height) + var(--vspace-2_5)); */
  }

  .s_intro__about {
    margin-bottom: var(--vspace-2_5);
    padding: var(--vspace-2) var(--vspace-1) var(--vspace-0_5);
  }

  .s_intro__about .s_intro__about_title {
    font-size: var(--text-size);
    line-height: var(--vspace-0_75);
    margin-bottom: var(--vspace-1_25);
  }
}

@media screen and (max-width: 400px) {
  .s_intro {
    --text-huge-multiplier: 0.4;
    /* padding-top: calc(var(--header-height) + var(--vspace-2)); */
  }

  .s_intro__about {
    width: 100%;
  }

  .s_intro__text {
    margin-top: calc(2 * var(--space));
    font-size: 36px;
  }
}

@media screen and (max-width: 350px) {
  .s_intro {
    --text-huge-multiplier: 0.38;
  }

  .s_intro__about {
    padding: var(--vspace-2) var(--vspace-0_75) var(--vspace-1);
  }
}

/* row 
 */
.row {
  width: 92%;
  max-width: var(--width-grid-max);
  margin: 0 auto;
  display: flex;
  flex-flow: row wrap;
}
.row.row_x_center {
  justify-content: center;
}

/* column
 */
.column {
  display: block;
  flex: 1 1 0%;
  /* padding: 0 var(--gutter); */
}

.collapse > .column,
.column.collapse {
  padding: 0;
}
