/* ===================================================================
 * # SITE HEADER
 *
 *
 * ------------------------------------------------------------------- */

/* ------------------------------------------------------------------- 
 * ## Height
 * ------------------------------------------------------------------- */

.header {
  /* --header-height: 7.1rem; */

  --logo-width: 104px;
  --box-shadow: 0 1px 1px rgba(0, 0, 0, 0.06), 0 2px 2px rgba(0, 0, 0, 0.06),
    0 4px 4px rgba(0, 0, 0, 0.06), 0 8px 8px rgba(0, 0, 0, 0.06);
  z-index: 100;
  display: flex;
  height: var(--header-height);
  background-color: var(--color-body);
  border-bottom: 1px solid var(--color-border);
  width: 100%;
  position: fixed;
  top: 7.4rem;
  left: 0;
  opacity: 1;
  animation: animateHeader 0.5s;
}

@keyframes animateHeader {
  from {
    top: -7.3rem;
  }
  to {
    top: 0;
  }
}

.header__block {
  z-index: 101;
  height: inherit;
}

/* --------------------------------------------------------------------
 * ## logo
 * -------------------------------------------------------------------- */
.header__logo {
  z-index: 3;
  position: absolute;
  top: 0rem;
  height: inherit;
  /* height: var(--header-height); */
  width: 10rem;
  margin-left: 2rem;
}

.header__logo a {
  display: block;
  margin: 0;
  padding: 0;
  outline: 0;
  border: none;
}

.header__logo img {
  width: var(--logo-width);
  margin: 0;
  vertical-align: bottom;
}

/* --------------------------------------------------------------------
 * ## main navigation
 * -------------------------------------------------------------------- */
.header__nav_wrap {
  justify-content: center;
  align-items: flex-start;
  /* background-color: blue; */
}

.header__nav a {
  display: block;
  font-size: 10px;
  font-weight: 400;
  line-height: calc(7.2rem - 1px);
  text-transform: uppercase;
  letter-spacing: 0.4em;
  color: rgba(255, 255, 255, 0.5);
  padding: 0 2.8rem;
  transition-property: color, background-color;
}

.header__nav a:focus,
.header__nav a:hover {
  color: white;
}

.header__nav .current a {
  background-color: var(--color-gray-9);
  color: var(--color-white);
}

.header__nav ul {
  list-style: none;
  display: flex;
  flex-flow: row nowrap;
  margin: 0;
  padding: 0;
  border-left: 1px solid var(--color-border);
}

.header__nav li {
  padding-left: 0;
  border-right: 1px solid var(--color-border);
}

/* --------------------------------------------------------------------
 * ## header social
 * -------------------------------------------------------------------- */
.header__social {
  list-style: none;
  display: flex;
  margin: 0;
  transform: translate(0, -50%);
  position: absolute;
  top: calc(50% - 0.2rem);
  right: 2rem;
}

.header__social li {
  padding-left: 0;
  margin-right: 1rem;
  line-height: 1;
}

.header__social li:last-child {
  margin-right: 0;
}

.header__social svg {
  height: 2.4rem;
  width: 2.4rem;
}

.header__social svg path {
  fill: white;
}

/* --------------------------------------------------------------------
 * ## mobile menu toggle
 * -------------------------------------------------------------------- */
.header__menu_toggle {
  display: block;
  width: 6.8rem;
  height: calc(var(--header-height) * 0.8);
  position: absolute;
  top: 0;
  right: 0.8rem;
  cursor: pointer;
}

.header__menu_toggle span {
  display: block;
  background-color: white;
  width: 22px;
  height: 1px;
  margin-top: -1px;
  font: 0/0 a;
  text-shadow: none;
  color: transparent;
  transition: background-color 0.2s ease-in-out;
  position: absolute;
  right: 23px;
  top: 50%;
  bottom: auto;
  left: auto;
}

.header__menu_toggle span::before,
.header__menu_toggle span::after {
  content: "";
  width: 100%;
  height: 100%;
  background-color: inherit;
  transition-duration: 0.2s, 0.2s;
  transition-delay: 0.2s, 0s;
  position: absolute;
  left: 0;
}

.header__menu_toggle span::before {
  top: -8px;
  transition-property: top, transform;
}

.header__menu_toggle span::after {
  bottom: -8px;
  transition-property: bottom, transform;
}

/* is clicked 
 */
.header__menu_toggle.is_clicked span {
  background-color: rgba(255, 255, 255, 0);
}

.header__menu_toggle.is_clicked span::before,
.header__menu_toggle.is_clicked span::after {
  background-color: white;
  transition-delay: 0s, 0.2s;
}

.header__menu_toggle.is_clicked span::before {
  top: 0;
  transform: rotate(45deg);
}

.header__menu_toggle.is_clicked span::after {
  bottom: 0;
  transform: rotate(-45deg);
}

/* ------------------------------------------------------------------- 
 * responsive:
 * site-header
 * ------------------------------------------------------------------- */
@media screen and (max-width: 1100px) {
  .header__nav a {
    font-size: 9px;
    padding: 0 2rem;
  }
}

@media screen and (max-width: 900px) {
  .header {
    height: calc(var(--header-height) * 0.8);
  }

  .header__logo {
    width: calc(var(--logo-width) * 0.8);
  }

  .header__block {
    width: 100%;
    height: inherit;
    background-color: var(--color-body);
    border-bottom: 1px solid var(--color-border);
    box-shadow: var(--box-shadow);
  }

  .header__nav_wrap {
    display: block;
    width: 100%;
    max-width: none;
    transform: scaleY(0);
    transform-origin: center top;
    padding: var(--vspace-2) 3.2rem var(--vspace-2);
    background-color: var(--color-body);
    border-bottom: 1px solid var(--color-border);
    box-shadow: var(--box-shadow);
  }

  .header__nav,
  .header__social {
    transform: translateY(-2rem);
    /* opacity: 0; */
    /* visibility: hidden; */
  }

  .header__nav {
    padding: 0 0 var(--vspace-1_5);
  }

  .header__nav a {
    font-family: var(--font-2);
    font-size: var(--text-lg);
    font-weight: 300;
    line-height: var(--vspace-1);
    text-transform: none;
    letter-spacing: 0;
    padding: var(--vspace-0_375) 0;
    color: white;
  }

  .header__nav a:focus,
  .header__nav a:hover {
    color: rgba(255, 255, 255, 0.6);
  }

  .header__nav .current a {
    background-color: transparent;
    color: var(--color-1);
  }

  .header__nav ul {
    display: block;
    background-color: transparent;
    text-align: left;
    margin: 0;
    border: none;
  }

  .header__nav ul li {
    display: block;
    border: none;
  }

  .header__social {
    position: static;
  }

  .header__menu_toggle {
    display: block;
    right: 0.8rem;
  }

  .menu-is-open .header {
    height: auto;
  }

  .menu-is-open .header__block {
    box-shadow: none;
  }

  .menu-is-open .header__nav_wrap {
    transform: scaleY(1);
    transition: transform 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
    transition-delay: 0s;
  }

  .menu-is-open .header__nav,
  .menu-is-open .header__social {
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
    transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
    transition-delay: 0.4s;
  }
}

@media screen and (max-width: 600px) {
  .header__logo {
    width: calc(var(--logo-width) * 0.8);
    /* height: var(--header-height) * 0.8; */
  }
}

@media screen and (max-width: 400px) {
  .header__menu_toggle {
    display: none;
  }
  .header__logo {
    width: calc(var(--logo-width) * 0.65);
  }
}

/* Row */
.row {
  width: 92%;
  max-width: var(--width-grid-max);
  margin: 0 auto;
  display: flex;
  flex-flow: row wrap;
}
